name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -e
            if [ ! -d /var/www/ecommerce ]; then
              sudo mkdir -p /var/www/ecommerce
              sudo chown -R ubuntu:ubuntu /var/www/ecommerce
            fi

            cd /var/www/ecommerce

            if [ -d .git ]; then
              git pull origin main
            else
              git clone https://github.com/Raheesvp/Ecommerce_Backend.git .
            fi

            sudo systemctl restart nginx
